.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.pt-2 {
  padding-top: 2rem;
}

.btn.btn-primary {
  height: 50px;
  color: white;
  background: #2ECFBF;
  border-radius: 6px;
  width: 300px;
  border: 0;
  text-decoration: none;
  cursor: pointer;
}

.input-row {
  text-align: left;
}

.input-row label {
  display: inline-block;
  color: #6F8086;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-row input[type=text]{
  outline: none;
  border: none;
  display: block;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  width: 100%;
}

.input-row input[type=text]:focus{
  border-bottom: 1px solid #2ECFBF;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group + .form-group {
  margin-top: 15px;
}

.form-group a{
  display: table;
  margin-left: 20px;
  color: #2ECFBF;
  text-decoration: none;
}